@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: rgb(235, 235, 235);
}
.container {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  background-color: white;
}

header {
  height: 60px;
  padding: 50px 0 10px 0;
  text-align: center;
}
header img {
  width: 40%;
}
/* mainの部分 */
main {
  background-color: #e3f1f3;
}
.riding {
  padding: 18px 9% 0 9%;
}
.riding_date {
  position: relative;
}

/* 日付表示部分 */
.date-picker {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 700;
  font-size: 12px;
  color: #111;
}

.date-picker .chevron {
  transform: translateY(1px);
}

/* カレンダー開いてるときは上向きに反転 */
.date-picker .chevron.open {
  transform: translateY(-1px) rotate(180deg);
}

/* 透明inputを重ねる */
#dateInput {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.riding_map {
  position: relative;
  padding-bottom: 80px;
}

.riding_map-name {
  padding: 36px 0 15px 0;
  color: #123863;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.riding_map-container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  border-radius: 12px;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.15);
}

.riding_map-container iframe {
  width: 100%;
  aspect-ratio: 324/243;
}

.riding_map-bicycle {
  width: 41%;
  position: absolute;
  right: -22px;
  bottom: 56px;
  z-index: 2;
}
/* 以下は結果を受け取る部分 */
.result {
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #e3f1f3 0px,
    #e3f1f3 110px,
    #ffffff 110px,
    #ffffff 100%
  );
  position: relative;
}
.result_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.result_container {
  padding-top: 100px;
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.result section {
  margin: 0 auto 65px;
}
.result_title {
  font-family: Inter;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.64px;
  padding-bottom: 18px;
}
.result_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px 16px;
  max-width: 150px;
  margin: 0 auto;
}

.result_icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 8px;
}
.result_dish {
  text-align: center;
  font-family: "Noto Sans JP";
}
.result_route_text {
  color: #123863;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
  padding-bottom: 45px;
}
.result_dish_image {
  width: 204px;
  padding-bottom: 20px;
}
.result_dish_name_kana {
  color: #103863;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.result_dish_name {
  color: #103863;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2.24px;
  padding: 3px 0 37px;
}
.result_dish_desc {
  color: #222;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.48px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.result_ingredients_list {
  padding: 30px;
  width: 90%;
  background-color: #f3fafb;
}
.result_subtitle {
  color: #103863;
  font-family: "Noto Sans JP";
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding-bottom: 20px;
}
.result_list {
  font-size: 10px;
  font-family: "Noto Sans JP";
}

.result_list li {
  display: flex;
  justify-content: space-between; /* 左右に分ける */
  gap: 20px; /* 中央の余白 */
  padding: 1px 0;
}

.result_list li span:first-child {
  flex: 1; /* 左側の材料名：可変幅 */
  text-align: left;
}
.result_list li span:first-child::before {
  content: "・";
}
.result_list li span:last-child {
  flex: 0 0 40%; /* 右側の分量：固定 or 最小幅 */
  white-space: nowrap;
}
.result_recipe {
  font-size: 10px;
  font-family: "Noto Sans JP";
  width: 90%;
}
.result_recipe .result_subtitle {
  padding: 0 0 15px 1em;
}
.result_steps {
  counter-reset: step; /* カウンター初期化 */
  list-style: none; /* デフォルト番号消す */
  padding: 0;
  margin: 0;
}

.result_steps li {
  counter-increment: step; /* カウントアップ */
  position: relative;
  padding-left: 1.5em; /* 番号分の余白 */
  margin-bottom: 0.6em;
  padding-bottom: 15px;
}

/* ← 丸数字を生成！ */
.result_steps li::before {
  content: attr(stepnum); /* ①②③ */
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #274b6b; /* 紺色など任意 */
}
.result_button_wrap {
  width: 220px;
  margin: 0 auto 56px;
}
.result_button {
  width: 100%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #295979;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
}
/* 以下はfooter部分 */
footer {
  background-color: #e3f1f3;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer small {
  color: #295979;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
}
/* qrcodeページ */
.result_readme {
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.48px;
  padding: 92px 0 43px;
}
.qrcode {
  text-align: center;
  padding: 83px 0 112px;
}
.qrcode-name {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 34px;
}
